h3{
  font-size: 20px;
  margin-left: 20px;
}
p{
  font-size: 15px;
  margin-top: 10px;
}
span{
  font-size: 20px;
}

.time{
  position: relative;
  font-size: 40px;
  left: 35px;
  letter-spacing: 10px;
}
.ButtonList{
  margin-left: 20px;
}
.button{
  height: 35px;
  width: 70px;
}

.text{
  position: absolute;
  top: 80px;
  left: 73px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 42px;
}
